@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root {
    --green: hsl(75, 94%, 57%);
    --white: hsl(0, 0%, 100%);
    --grey: hsl(0, 0%, 20%);
    --dark-grey: hsl(0, 0%, 12%);
    --off-black: hsl(0, 0%, 8%);
}

body {
    background-color: var(--off-black);
    display: flex;
    height: 100vh;
    margin: 0;
}

.profile-container {
    width: 400px;
    height: 600px;
    background-color: var(--dark-grey);
    margin: auto;
    border-radius: 3%;
    font-family: "Inter";
}

.profile__image {
    display: block;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 30px;
    border-radius: 50%;
    width: 100px;
}

.profile__title {
    text-align: center;
    line-height: 0.75em;
}

.profile__name {
    color: var(--white);
    font-size: 1.6em;
    font-weight: 500;
}

.profile__subtitle {
    color: var(--green);
    font-size: 0.90em;
}

.profile__description {
    text-align: center;
    font-size: 0.85em;
    color: var(--white);
    font-weight: 300;
    line-height: 3em;
}

.profile__buttons {
    width: 300px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: auto;
}

.button {
    background-color: var(--grey);
    height: 40px;
    border-radius: 10px;
    border: hidden;
    color: var(--white);
    font-size: 14px;
    font-weight: bold;
}

.button:hover {
    background-color: var(--green);
    color: var(--off-black);
    cursor: pointer;
}